.App {
  text-align: center;
  background: linear-gradient(90deg, #020024 0%, #33193f 35%, #3e255e 50%,  #221d4b 80%, #160418 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.main-btn{
  border: 0; 
  background-color: rgb(94, 5, 172);
  color: #FFF;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  margin: 20px;
}

.main-btn:hover{
  filter: brightness(0.9);
}

